.hiddenError{
    opacity: 0;
}

.hiddenPage{
    opacity: 0;
    display: none;
}

.visible{
    opacity: 1;
    display: block;
}

.formBody{
    display: block;
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 8px;
    
}