:root{
    --off-white: #f4f4f4;;
    --header-blue: #0e82f6;
    --text-highlight: #0e82f6;
    --alt-blue: #208BF3;
    --off-black: #4C4C4C;
}

body{
    font-size: inherit;
    padding: 0;
    margin: 0;
    line-height: 1;
    min-block-size: 100dvh;
}